<div>
  <h1>Welcome to the Error Logger</h1>
  <p>
    Use the links below to test error logging:
  </p>
  <ul>
    <li><%= link_to "Trigger Backend Error", backend_error_path, target: "_blank" %></li>
    <li><%= link_to "Trigger Frontend Error", frontend_error_path, target: "_blank" %></li>
  </ul>
</div>
